.window-controls.wrapper {
  display: flex;

  .minimize-icon,
  .maximize-icon,
  .close-icon {
    width: 46px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.15s ease-in;
  }

  .minimize-icon:hover,
  .maximize-icon:hover {
    background-color: var(--bg-darken);
  }

  .close-icon:hover {
    background-color: var(--button-danger);
    color: var(--white-text);
  }
}
