* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #4b8;
  --primary-dim: #3a7;
  --bg: #eee;
  --fg: #fff;
  --hover-fade: #ddd;
  --danger: #e33;
  --txt: #333;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #333;
    --fg: #222;
    --hover-fade: #555;
    --txt: #eee;
  }
}

body {
  animation: fade-in 0.1s forwards ease-in;
  color: var(--txt);
}

@keyframes fade-in {
  from {
    opacity: 0;
    background: transparent;
  }
  to {
    opacity: 1;
    background: var(--bg);
  }
}

.button {
  background: var(--primary-dim);
  border-radius: 8px;
  padding: 8px 0;
  text-align: center;
  color: #fff;
}
