* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #f0f0f0;
  --text-color: #333;
  --bg-darken: #ddd;
  --button-danger: #c04031;
  --white-text: #fafafa;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #333333;
    --text-color: #f3f3f3;
    --bg-darken: #515151;
    --button-danger: #c04031;
    --white-text: #fafafa;
  }
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--text-color);
  font-size: 16px;
  background: var(--bg-color);
}

.app {
  width: 100vw;
  min-width: 100dvh;
}

.wrapper {
  width: 100%;
  height: 100%;
}
