* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #f0f0f0;
  --text-color: #333;
  --bg-darken: #ddd;
  --button-danger: #c04031;
  --text-reverse: #fafafa;
  --fg: #333;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #333;
    --text-color: #f3f3f3;
    --bg-darken: #515151;
    --button-danger: #c04031;
    --text-reverse: #333;
    --fg: #f3f3f3;
  }
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--text-color);
  font-size: 16px;
  background: var(--bg-color);
}

.app {
  width: 100vw;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;

  .view {
    flex: 1;
  }
}

.wrapper {
  width: 100%;
  height: 100%;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    opacity: 0.8;
  }
}
