.minimize-icon:hover,
.maximize-icon:hover,
.restore-icon:hover {
    background: var(--hover-fade);
}

.settings-icon:hover {background: var(--hover-fade);
    color: var(--primary);
}

.close-icon:hover {
    background: var(--danger);
    color: #fff;
}

div {
    transition: all 0.2s ease-in;
}

svg {
    transition: color 0.2s ease-in;
    display: inline-block;
    vertical-align: middle;
}
