* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #f0f0f0;
  --text-color: #333
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #111;
    --text-color: #f3f3f3;
  }
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.2;
}

.app {
  width: 100dvw;
  height: 100dvh;
  transform-origin: center bottom;
  border-radius: 8px;
  animation: fade-in 0.1s ease-in forwards;
  background: var(--bg-color);
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.window-controls {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
}

.window-controls>div {
  width: 46px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.window-controls>div:hover {
  background-color: #aaa8;
}

.window-controls>.close-icon:hover {
  background-color: #f00;
  color: #fff;
}
