* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #f0f0f0;
  --text-color: #333
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #111;
    --text-color: #f3f3f3;
  }
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.2;
}

.window-buttons {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
}

.window-buttons > div {
  width: 46px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease;
}

.window-buttons > div:hover {
  background-color: #777;
}

.window-buttons > .close-icon:hover {
  background-color: #e81123;
}
