*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  word-wrap: break-word;
  -webkit-tap-highlight-color: transparent;
}

:root {
  --color-focus: var(--color-primary);
  --control-height: 32px;
  --border-radius-standard: 4px;
  --border-radius-large: 8px;
  --stroke-width: 1px;
  --focus-stroke-width: 2px;
  --blur-acrylic: 12px;
  --blur: 8px;
  --duration-fast: 167ms;
  --duration-normal: 240ms;
  --duration-slow: 333ms;
  --ease-standard: ease;
  --ease-accelerate: ease-out;
}

:root {
  --color-primary: #000;
  --color-primary-hover: #333;
  --color-danger: #c42b1c;

  --color-text: #1a1a1a;
  --color-text-bold: #1a1a1a;
  --color-text-muted: #5d5d5d;
  --color-text-on-accent: #f5f7fa;
  --color-background: #f5f7fa;
  --color-foreground: #fff;

  --color-layer: #f9f9f9;
  --color-overlay: #f9f9f9;
  --color-control: #fff;
  --color-hover: #e8eaef;
  --color-pressed: #e1e3e5;
  --color-hover-darker: var(--color-pressed);
  --color-border: #ebebeb;
  --color-border-strong: #d1d1d1;

  --shadow-card: 0 0 2px #0000001f, 0 1px 2px #00000024;
  --shadow-flyout: 0 0 2px #0000001f, 0 8px 16px #00000024;
  --shadow-standard: 0 0 2px #0000001f, 0 16px 32px #00000024;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #e3e1d9;
    --color-primary-hover: #a2a19c;
    --color-danger: #c42b1c;

    --color-text: #f5f7fa;
    --color-text-bold: #fff;
    --color-text-muted: #c5c5c5;
    --color-text-muted: #5d5d5d;
    --color-text-on-accent: #202020;

    --color-background: #202020;
    --color-foreground: #2c2c2c;
    --color-layer: #282828;
    --color-overlay: #2c2c2c;
    --color-control: #2b2b2b;
    --color-hover: #333;
    --color-pressed: #3a3a3a;
    --color-border: #3a3a3a;
    --color-border-strong: #4a4a4a;

    --shadow-card: 0 0 2px #7777, 0 1px 2px #7777;
    --shadow-flyout: 0 0 2px #7777773d, 0 8px 16px #7777775c;
    --shadow-standard: 0 0 2px #7777773d, 0 16px 32px #77777773;
  }
}

body {
  color: var(--color-text);
  background: var(--color-background);
  line-height: 1.6;
  font: --system-ui, sans-serif;
  font-size: 16px;
  user-select: none;
}

#root {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

button {
  box-shadow: 0 0 0 transparent;
  border: none;
  border-radius: var(--border-radius-standard);
  font-weight: bold;
  display: grid;
  place-items: center;
  transition: all var(--duration-slow) var(--ease-standard);
  outline: none;
  cursor: pointer;
}

.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-text-on-accent);

  &:hover {
    background-color: var(--color-primary-hover);
  }
}

.btn-secondary {
  background-color: var(--color-hover);
  color: var(--color-text);

  &:hover {
    background-color: var(--color-hover-darker);
  }
}

.card {
  border: var(--color-border);
  border-radius: var(--border-radius-large);
  box-shadow: var(--shadow-card);
  background-color: var(--color-foreground);
}
